{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card">

    <h2>🔑 學生登入</h2>

    <form method="POST">
        {% csrf_token %}

        <label>使用者名稱</label>
        <input type="text" name="username">

        <label>密碼</label>
        <input type="password" name="password">

        <br>

        <button class="btn primary" type="submit">登入</button>
    </form>

        <hr style="border: 0; border-top: 1px solid #eee; margin: 25px 0;">

        <div style="text-align: center;">
            <span>還沒有帳號嗎？</span>
            <a href="{% url 'register' %}" style="
                color: #4abc96;
                text-decoration: none;
                font-weight: bold;
                font-size: 15px;
                margin-left: 5px;
            ">
                點我註冊帳號
            </a>
        </div>

    </div>

{% endblock %}
