{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>題目頁</title>
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}">
</head>
<body>

<div class="timer-box">
    ⏰ 剩餘時間：
    <span id="time">60</span> 秒
</div>

<form action="{% url 'submit_quiz' %}" method="POST">
    {% csrf_token %} 
    
    {% for q in quiz_data %}
    <div class="quiz-card" style="margin-bottom: 30px;">
        
        <h2>第 {{ forloop.counter }} 題</h2>
        
        <p class="question">
            {{ q.content }}
        </p>

        {% for key, value in q.shuffled_options %}
        <label class="option-card">
            <input type="radio"
                   name="question_{{ q.id }}"
                   value="{{ value }}"
                   required>

            <span>{{ key }}. {{ value }}</span>
</label>
        {% endfor %}

    </div>
    {% empty %}
        <div class="quiz-card">
            <h2>目前題庫空空的喔！請先去後台 /admin 新增題目。</h2>
        </div>
    {% endfor %}

    {% if quiz_data %}
    <div style="text-align: center; margin-bottom: 50px;">
        <button type="submit" style="padding: 10px 30px; font-size: 18px; cursor: pointer;">送出答案</button>
    </div>
    {% endif %}
    
</form>

<script>

let questionCount = Number("{{ question_count }}");

// 每題 12 秒
let timeLeft = questionCount * 12;

document.getElementById("time").innerText = timeLeft;

const timer = setInterval(() => {

    timeLeft--;

    document.getElementById("time").innerText = timeLeft;

    if(timeLeft <= 10){
        document.querySelector(".timer-box")
            .style.background = "#dc3545";
    }

    if(timeLeft <= 0){

        clearInterval(timer);

        alert("時間到！系統將自動交卷");

        document.querySelector("form").submit();
    }

},1000);

</script>

</body>
</html>
