{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card auth-card">

    <h2>🎓 學生帳號註冊</h2>

    <form method="POST" class="auth-form">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn primary" type="submit">
            註冊帳號
        </button>
    </form>

    <div class="auth-footer">
        <span>已經有帳號了？</span>
        <a href="{% url 'login' %}" class="auth-link">
            點我前往登入
        </a>
    </div>

</div>

{% endblock %}
