body{
    font-family: Arial, sans-serif;
    background-color:#f4f6f9;
}

.container,
.quiz-card{
    width: 500px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.question{
    font-size:20px;
    margin:20px 0;
}

.option{
    margin:15px 0;
    text-align:left;
}

button{
    background:#007bff;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
}